.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin-left: 20%;
  margin-top: 18.5%;
  width: 60%;
  height: 50%;
}

.background{
  background-image: url('etch-a-sketch-background.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 600px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(153, 204, 255);
}

.row{
  display: flex;
  justify-content: space-evenly;
  height:100%;
}

.box{
  border: dotted black 0.1px;
  background-color: white;
  width:100%;
}

.clicked{
  background-color: black;
}

h1{
  text-align: center;
}

h2{
  font-size: 30px;
}

.menu{
  display: flex;
  justify-content: space-between;
  width: 90vh;
  align-items: center;
}


button {
  display: flex;
  flex-direction: column;
  margin: 3px;
  background-color: transparent;
  border-radius: 3px;
  font-size: 12px;
  height: 20px;
  border: solid black 0.5px;
}

