.container{
  border: solid black 2px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 960px;
  height: 960px;
}

.row{;
  display: flex;
  justify-content: space-evenly;
  height:100%;
}

.box{
  border: dotted black 1px;
  background-color: white;
  width:100%;
}

.clicked{
  background-color: purple;
}
